.personagem-container {
  border: none;
  display: flex;
  justify-content: center;
  gap: 3rem;
  padding: 2rem;
  flex-wrap: wrap;
}

.personagem-card {
all: unset;
background-color: white;
border-radius: 68px;
transition: transform 0.2s ease;
display: flex;
justify-content: center;
align-items: center;
width: 200px;
height: 300px;
padding: 1rem;
cursor: pointer;
align-items: center;
}

.personagem-card:hover {
transform: scale(1.05);
}

.personagem-card img {
width: 100%;
height: 100%;
object-fit: contain;
}

.sexo-container {
  display: flex;
  justify-content: center;
  gap: 3rem;
  padding: 2rem;
  border: none;
}

.sexo-card {
all: unset;
cursor: pointer;
border-radius: 1rem;
transition: transform 0.2s ease;
width: 400px;
height: 600px;
display: flex;
justify-content: center;
align-items: center;
}

.sexo-card:hover {
transform: scale(1.05);
}

.sexo-card img {
width: 100%;
height: 100%;
object-fit: contain;
}