.botao-voltar {
    all: unset;
    position: fixed;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1000;
    display: flex;
    align-items: center;
}
  
.botao-voltar.na-selecao-personagem {
  top: 10rem;
  left: 10rem;
  background-color: rgba(105, 105, 115, 0.8);
  border-radius: 25px;
  font-weight: 500;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  transition: all 0.2s ease;
  max-width: 150px;
  box-sizing: border-box;
}

.botao-voltar.na-selecao-personagem:hover {
  background-color: rgba(85, 85, 95, 0.9);
}

.botao-voltar.na-selecao-personagem img {
  width: 7rem;
  height: auto;
  display: block;
}

.botao-voltar.na-selecao-dores {
    top: 39rem;
    left: 7rem;
}

.botao-voltar.na-selecao-dores img {
  width: 7rem;
  height: auto;
  display: block;
}

.botao-voltar.na-selecao-animacoes {
  top: 45rem;
  left: 5rem;
}

.botao-voltar.na-selecao-animacoes img {
  width: 9rem;
  height: auto;
  display: block;
}

@media (max-width: 855px) {
  .botao-voltar.na-selecao-personagem {
    top: 50rem;
    left: 1rem;
    font-size: 14px;
    max-width: 100px;
  }
  
  .botao-voltar.na-selecao-personagem img {
      width: 5rem;
  }
}

