/* container de sintomas */
.dores-container {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  border-radius: 24px;
  overflow: hidden;
  padding-bottom: 80px;
}

.conteudo-esquerda {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 30%;
  padding: 2rem;
}

.conteudo-direita {
  position: relative;
  width: 70%;
  background-color: #fff;
  border-radius: 24px;
  padding: 1rem;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1); 
}

.mensagemselecao {
  font-size: 2.5rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 2rem;
  line-height: 1.2;
  text-align: left;
  margin-top: 2rem;
}

/* imagens */
.imagens-corpo {
  display: flex;
  justify-content: center;
  gap: 2rem;
  width: 100%;
  position: relative;
}

.imagem-frente, .imagem-costas {
  height: 500px;
  object-fit: contain;
}

/* Desktop */

/* Corpos */

/* Meninos */ 

/* Menino Branco */

/* Frente */

.menino_branco-frente-cabeca {
  top: 1.125rem;
  left: calc(25% - 6.25rem);
  width: 10rem;
  height: 10rem;
  z-index: 999;
}

.menino_branco-frente-barriga {
  top: 11.125rem;
  left: calc(25% - 4rem);
  width: 5.25rem;
  height: 8.5rem;
  z-index: 5;
}

.menino_branco-frente-braco-esquerdo {
  top: 12.375rem;
  left: calc(25% + 1.45rem);
  width: 1.75rem;
  height: 11rem;
  transform: rotate(172deg);
  z-index: 1;
}

.menino_branco-frente-braco-direito {
  top: 12.375rem;
  left: calc(25% - 6.125rem);
  width: 2.25rem;
  height: 11rem;
  transform: rotate(7deg);
  z-index: 1;
}

.menino_branco-frente-perna-direita {
  top: 19.375rem;
  left: calc(25% - 81px);
  width: 3.25rem;
  height: 13.125rem;
  transform: rotate(7deg);
  z-index: 2;
}

.menino_branco-frente-perna-esquerda {
  top: 19.375rem;
  left: calc(25% + -12px);
  width: 3.25rem;
  height: 13.125rem;
  transform: rotate(173deg);
  z-index: 2;
}

/* Costas */

.menino_branco-costas-cabeca {
  top: 1.125rem;
  left: calc(75% + -10rem);
  width: 10rem;
  height: 10rem;
  z-index: 999;
}

.menino_branco-costas-costas {
  top: 11.125rem;
  left: calc(75% + -7.5rem);
  width: 5.25rem;
  height: 8.5rem;
  z-index: 5;
}

.menino_branco-costas-braco-direito {
  top: 12.125rem;
  left: calc(75% + -1.875rem);
  width: 1.75rem;
  height: 11rem;
  transform: rotate(168deg);
  z-index: 1;
}

.menino_branco-costas-braco-esquerdo {
  top: 12.125rem;
  left: calc(75% + -9.5rem);
  width: 1.75rem;
  height: 11rem;
  transform: rotate(190deg);
  z-index: 1;
}

.menino_branco-costas-perna-direita {
  top: 19.375rem;
  left: calc(75% + -4.375rem);
  width: 3.25rem;
  height: 13.125rem;
  transform: rotate(172deg);
  z-index: 2;
}

.menino_branco-costas-perna-esquerda {
  top: 19.375rem;
  left: calc(75% + -8.5rem);
  width: 3.25rem;
  height: 13.125rem;
  transform: rotate(7deg);
  z-index: 2;
}

/* Menino Negro */

/* Frente */

.menino_negro-frente-cabeca {
  top: 2.125rem;
  left: calc(75% + -7rem);
  width: 10rem;
  height: 10rem;
  z-index: 999;
}

.menino_negro-frente-barriga {
  top: 12.5rem;
  left: calc(25% - 5rem);
  width: 5.875rem;
  height: 9.5rem;
  z-index: 5;
}

.menino_negro-frente-braco-direito {
  top: 14.125rem;
  left: calc(25% - 7.375rem);
  width: 2rem;
  height: 9.75rem;
  transform: rotate(14deg);
  z-index: 1;
}

.menino_negro-frente-braco-esquerdo {
  top: 226px;
  left: calc(25% + 1.25rem);
  width: 32px;
  height: 156px;
  transform: rotate(164deg);
  z-index: 1;
}

.menino_negro-frente-perna-direita {
  top: 19.375rem;
  left: calc(25% - 6.125rem);
  width: 3.75rem;
  height: 13.125rem;
  transform: rotate(188deg);
  z-index: 2;
}

.menino_negro-frente-perna-esquerda {
  top: 19.375rem;
  left: calc(75% + -1.75rem);
  width: 3.75rem;
  height: 13.125rem;
  transform: rotate(174deg);
  z-index: 2;
}

/* Costas */

.menino_negro-costas-cabeca {
  top: 2.125rem;
  left: calc(75% + -8.75rem);
  width: 10rem;
  height: 10rem;
  z-index: 999;
}

.menino_negro-costas-costas {
  top: 11.125rem;
  left: calc(75% + -6.25rem);
  width: 5.25rem;
  height: 8.5rem;
  z-index: 5;
}

.menino_negro-costas-braco-direito {
  top: 13.125rem;
  left: calc(75% + -0.4rem);
  width: 2.5rem;
  height: 11rem;
  transform: rotate(164deg);
  z-index: 1;
}

.menino_negro-costas-braco-esquerdo {
  top: 13.125rem;
  left: calc(75% + -8.5rem);
  width: 2rem;
  height: 11rem;
  transform: rotate(196deg);
  z-index: 1;
}

.menino_negro-costas-perna-direita {
  top: 19.375rem;
  left: calc(75% + -3.25rem);
  width: 3.75rem;
  height: 13.125rem;
  transform: rotate(174deg);
  z-index: 2;
}

.menino_negro-costas-perna-esquerda {
  top: 19.375rem;
  left: calc(75% + -7.5rem);
  width: 3.75rem;
  height: 13.125rem;
  transform: rotate(188deg);
  z-index: 2;
}

/* Menino Asiático */

/* Frente */

.menino_asiatico-frente-cabeca {
  top: 2rem;
  left: calc(25% - 8rem);
  width: 10rem;
  height: 11rem;
  z-index: 999;
}

.menino_asiatico-frente-barriga {
  top: 12.5rem;
  left: calc(25% - 5.75rem);
  width: 5.625rem;
  height: 8rem;
  z-index: 5;
}

.menino_asiatico-frente-braco-direito {
  top: 13.25rem;
  left: calc(25% - 8.625rem);
  width: 2.375rem;
  height: 10.375rem;
  transform: rotate(20deg);
  z-index: 1;
}

.menino_asiatico-frente-braco-esquerdo {
  top: 13.25rem;
  left: calc(25% + 0.375rem);
  width: 2.375rem;
  height: 10.375rem;
  transform: rotate(159deg);
  z-index: 1;
}

.menino_asiatico-frente-perna-direita {
  top: 20.375rem;
  left: calc(25% - 110px);
  width: 3.75rem;
  height: 11.857rem;
  transform: rotate(185deg);
  z-index: 2;
}

.menino_asiatico-frente-perna-esquerda {
  top: 20.375rem;
  left: calc(25% - 2.875rem);
  width: 3.75rem;
  height: 11.875rem;
  transform: rotate(176deg);
  z-index: 2;
}

/* Costas */

.menino_asiatico-costas-cabeca {
  top: 2.125rem;
  left: calc(75% + -8.75rem);
  width: 11rem;
  height: 10rem;
  z-index: 999;
}

.menino_asiatico-costas-costas {
  top: 11.125rem;
  left: calc(75% + -6.25rem);
  width: 5.75rem;
  height: 8.5rem;
  z-index: 5;
}

.menino_asiatico-costas-braco-direito {
  top: 13.125rem;
  left: calc(75% + 0.1rem);
  width: 2.5rem;
  height: 11rem;
  transform: rotate(156deg);
  z-index: 1;
}

.menino_asiatico-costas-braco-esquerdo {
  top: 13.125rem;
  left: calc(75% + -8.75rem);
  width: 2.5rem;
  height: 11rem;
  transform: rotate(27deg);
  z-index: 1;
}

.menino_asiatico-costas-perna-direita {
  top: 19.375rem;
  left: calc(75% + -3rem);
  width: 3.5rem;
  height: 13.125rem;
  transform: rotate(174deg);
  z-index: 2;
}

.menino_asiatico-costas-perna-esquerda {
  top: 19.375rem;
  left: calc(75% + -7rem);
  width: 3.5rem;
  height: 13.125rem;
  transform: rotate(185deg);
  z-index: 2;
}

/* Menino Pardo */

/* Frente */

.menino_pardo-frente-cabeca {
  top: 2rem;
  left: calc(25% - 6.875rem);
  width: 10rem;
  height: 10.5rem;
  z-index: 999;
}

.menino_pardo-frente-barriga {
  top: 12.5rem;
  left: calc(25% - 4.875rem);
  width: 6rem;
  height: 8.625rem;
  z-index: 5;
}

.menino_pardo-frente-braco-direito {
  top: 13.125rem;
  left: calc(25% - 6.75rem);
  width: 2.125rem;
  height: 9.75rem;
  transform: rotate(18deg);
  z-index: 1;
}

.menino_pardo-frente-braco-esquerdo {
  top: 13.875rem;
  left: calc(25% + 1.5rem);
  width: 2.5rem;
  height: 10.375rem;
  transform: rotate(166deg);
  z-index: 1;
}

.menino_pardo-frente-perna-direita {
  top: 21.5rem;
  left: calc(25% - 5.75rem);
  width: 3.5rem;
  height: 11.375rem;
  transform: rotate(188deg);
  z-index: 2;
}

.menino_pardo-frente-perna-esquerda {
  top: 20.875rem;
  left: calc(25% - 1.25rem);
  width: 3.5rem;
  height: 11.375rem;
  transform: rotate(169deg);
  z-index: 2;
}

/* Costas */

.menino_pardo-costas-cabeca {
  top: 2.125rem;
  left: calc(75% + -8.75rem);
  width: 11rem;
  height: 10rem;
  z-index: 999;
}

.menino_pardo-costas-costas {
  top: 11.125rem;
  left: calc(75% + -5.75rem);
  width: 5rem;
  height: 8.5rem;
  z-index: 5;
}

.menino_pardo-costas-braco-direito {
  top: 13.125rem;
  left: calc(75% + -0.5rem);
  width: 2.5rem;
  height: 11rem;
  transform: rotate(164deg);
  z-index: 1;
}

.menino_pardo-costas-braco-esquerdo {
  top: 13.125rem;
  left: calc(75% + -8.75rem);
  width: 2.5rem;
  height: 11rem;
  transform: rotate(20deg);
  z-index: 1;
}

.menino_pardo-costas-perna-direita {
  top: 19.375rem;
  left: calc(75% + -2.85rem);
  width: 3.5rem;
  height: 13.125rem;
  transform: rotate(174deg);
  z-index: 2;
}

.menino_pardo-costas-perna-esquerda {
  top: 19.375rem;
  left: calc(75% + -7.5rem);
  width: 3.75rem;
  height: 13.125rem;
  transform: rotate(185deg);
  z-index: 2;
}

/* Meninas */

/* Menina Branca */

/* Frente */

.menina_branca-frente-cabeca {
  top: 1.25rem;
  left: calc(25% - 7.25rem);
  width: 10rem;
  height: 10rem;
  z-index: 999;
}

.menina_branca-frente-barriga {
  top: 11.125rem;
  left: calc(25% - 5rem);
  width: 5rem;
  height: 9.5rem;
  z-index: 1;
}

.menina_branca-frente-braco-direito {
  top: 12.125rem;
  left: calc(25% - 7.75rem);
  width: 2.125rem;
  height: 10rem;
  transform: rotate(24deg);
  z-index: 1;
}

.menina_branca-frente-braco-esquerdo {
  top: 12.125rem;
  left: calc(25% + 0.625rem);
  width: 2.125rem;
  height: 10rem;
  transform: rotate(156deg);
  z-index: 1;
}

.menina_branca-frente-perna-direita {
  top: 18.25rem;
  left: calc(25% - 6.5rem);
  width: 3.375rem;
  height: 14rem;
  transform: rotate(8deg);
  z-index: 2;
}

.menina_branca-frente-perna-esquerda {
  top: 18.25rem;
  left: calc(25% - 2rem);
  width: 3.375rem;
  height: 14rem;
  transform: rotate(172deg);
  z-index: 2;
}

/* Costas */

.menina_branca-costas-cabeca {
  top: 1.25rem;
  left: calc(75% - 8.5rem);
  width: 10rem;
  height: 10rem;
  z-index: 999;
}

.menina_branca-costas-costas {
  top: 11.125rem;
  left: calc(75% - 5.75rem);
  width: 5rem;
  height: 9.5rem;
  z-index: 5;
}

.menina_branca-costas-braco-direito {
  top: 12rem;
  left: calc(75% - 0.25rem);
  width: 2.125rem;
  height: 10rem;
  transform: rotate(156deg);
  z-index: 1;
}

.menina_branca-costas-braco-esquerdo {
  top: 12rem;
  left: calc(75% - 8.25rem);
  width: 2.125rem;
  height: 10rem;
  transform: rotate(24deg);
  z-index: 1;
}

.menina_branca-costas-perna-direita {
  top: 18.125rem;
  left: calc(75% - 2.75rem);
  width: 3.375rem;
  height: 14rem;
  transform: rotate(174deg);
  z-index: 2;
}

.menina_branca-costas-perna-esquerda {
  top: 18.25rem;
  left: calc(75% - 7rem);
  width: 3.375rem;
  height: 14rem;
  transform: rotate(8deg);
  z-index: 2;
}

/* Menina Negra */

/* Frente */

.menina_negra-frente-cabeca {
  top: 2.5rem;
  left: calc(25% - 7.625rem);
  width: 10rem;
  height: 10rem;
  z-index: 999;
}

.menina_negra-frente-barriga {
  top: 11.125rem;
  left: calc(25% - 4.25rem);
  width: 4rem;
  height: 9.5rem;
  z-index: 5;
}

.menina_negra-frente-braco-direito {
  top: 13rem;
  left: calc(25% - 6.375rem);
  width: 1.85rem;
  height: 10rem;
  transform: rotate(17deg);
}

.menina_negra-frente-braco-esquerdo {
  top: 13rem;
  left: calc(25% - 0.375rem);
  width: 2.125rem;
  height: 10rem;
  transform: rotate(162deg);
}

.menina_negra-frente-perna-direita {
  top: 18.25rem;
  left: calc(25% - 5.375rem);
  width: 3.25rem;
  height: 14rem;
  transform: rotate(8deg);
}

.menina_negra-frente-perna-esquerda {
  top: 18.25rem;
  left: calc(25% - 37px);
  width: 3.25rem;
  height: 14rem;
  transform: rotate(172deg);
}

/* Costas */

.menina_negra-costas-cabeca {
  top: 2.5rem;
  left: calc(75% - 8.5rem);
  width: 10rem;
  height: 10rem;
  z-index: 999;
}

.menina_negra-costas-costas {
  top: 11.125rem;
  left: calc(75% - 6.25rem);
  width: 5rem;
  height: 9.5rem;
  z-index: 5;
}

.menina_negra-costas-braco-direito {
  top: 13rem;
  left: calc(75% - 1.5rem);
  width: 1.5rem;
  height: 10rem;
  transform: rotate(166deg);
  z-index: 1;
}

.menina_negra-costas-braco-esquerdo {
  top: 13rem;
  left: calc(75% - 8rem);
  width: 1.85rem;
  height: 10rem;
  transform: rotate(14deg);
  z-index: 1;
}

.menina_negra-costas-perna-direita {
  top: 18.25rem;
  left: calc(75% - 3.75rem);
  width: 3.25rem;
  height: 14rem;
  transform: rotate(175deg);
  z-index: 2;
}

.menina_negra-costas-perna-esquerda {
  top: 18.25rem;
  left: calc(75% - 7rem);
  width: 3.25rem;
  height: 14rem;
  transform: rotate(8deg);
  z-index: 2;
}

/* Menina Asiática */

/* Frente */

.menina_asiatica-frente-cabeca {
  top: 1.25rem;
  left: calc(25% - 7.75rem);
  width: 11.625rem;
  height: 11.625rem;
  z-index: 999;
}

.menina_asiatica-frente-barriga {
  top: 178px;
  left: calc(25% - 5.125rem);
  width: 6.25rem;
  height: 9.5rem;
  z-index: 998;
}

.menina_asiatica-frente-braco-direito {
  top: 14.375rem;
  left: calc(25% - 6.875rem);
  width: 3.125rem;
  height: 9rem;
  transform: rotate(22deg);
  z-index: 1;
}

.menina_asiatica-frente-braco-esquerdo {
  top: 14.375rem;
  left: calc(25% + 0.5rem);
  width: 3.125rem;
  height: 9rem;
  transform: rotate(164deg);
  z-index: 1;
}

.menina_asiatica-frente-perna-direita {
  top: 20.5rem;
  left: calc(25% - 5.5rem);
  width: 3.25rem;
  height: 11.5rem;
  transform: rotate(184deg);
  z-index: 2;
}

.menina_asiatica-frente-perna-esquerda {
  top: 20.5rem;
  left: calc(25% - 1.5rem);
  width: 3.25rem;
  height: 11.5rem;
  transform: rotate(174deg);
  z-index: 2;
}

/* Costas */

.menina_asiatica-costas-cabeca {
  top: 1.25rem;
  left: calc(75% - 8.25rem);
  width: 11.625rem;
  height: 11.625rem;
  z-index: 999;
}

.menina_asiatica-costas-costas {
  top: 11.625rem;
  left: calc(75% - 5rem);
  width: 5.5rem;
  height: 10.375rem;
  z-index: 5;
}

.menina_asiatica-costas-braco-direito {
  top: 14.375rem;
  left: calc(75% - -0.5rem);
  width: 1.5rem;
  height: 9rem;
  transform: rotate(162deg);
  z-index: 1;
}

.menina_asiatica-costas-braco-esquerdo {
  top: 14.375rem;
  left: calc(75% - 7rem);
  width: 2rem;
  height: 9rem;
  transform: rotate(14deg);
  z-index: 1;
}

.menina_asiatica-costas-perna-direita {
  top: 20.75rem;
  left: calc(75% - 2.5rem);
  width: 3.25rem;
  height: 11.5rem;
  transform: rotate(178deg);
  z-index: 2;
}

.menina_asiatica-costas-perna-esquerda {
  top: 20.75rem;
  left: calc(75% - 5.5rem);
  width: 3.25rem;
  height: 11.5rem;
  transform: rotate(185deg);
  z-index: 2;
}

/* Menina Parda */

/* Frente */

.menina_parda-frente-cabeca {
  top: 2.5rem;
  left: calc(25% - 122px);
  width: 10.625rem;
  height: 10rem;
  z-index: 999;
}

.menina_parda-frente-barriga {
  top: 12.25rem;
  left: calc(25% - 4.375rem);
  width: 4.875rem;
  height: 8.5rem;
  z-index: 5;
}

.menina_parda-frente-braco-direito {
  top: 13.875rem;
  left: calc(25% - 6.375rem);
  width: 2.25rem;
  height: 10rem;
  transform: rotate(20deg);
  z-index: 1;
}

.menina_parda-frente-braco-esquerdo {
  top: 228px;
  left: calc(25% + 0rem);
  width: 2.25rem;
  height: 10rem;
  transform: rotate(162deg);
  z-index: 1;
}

.menina_parda-frente-perna-direita {
  top: 324px;
  left: calc(25% - 5.125rem);
  width: 2.875rem;
  height: 11.625rem;
  transform: rotate(8deg);
  z-index: 2;
}

.menina_parda-frente-perna-esquerda {
  top: 20.125rem;
  left: calc(25% - 2.125rem);
  width: 2.875rem;
  height: 11.625rem;
  transform: rotate(176deg);
  z-index: 2;
}

/* Costas */

.menina_parda-costas-cabeca {
  top: 2.5rem;
  left: calc(75% - 8rem);
  width: 10.625rem;
  height: 10rem;
  z-index: 999;
}

.menina_parda-costas-costas {
  top: 12.5rem;
  left: calc(75% - 5rem);
  width: 4.875rem;
  height: 8.5rem;
  z-index: 5;
}

.menina_parda-costas-braco-direito {
  top: 14.5rem;
  left: calc(75% - 0rem);
  width: 2.25rem;
  height: 10rem;
  transform: rotate(162deg);
  z-index: 1;
}

.menina_parda-costas-braco-esquerdo {
  top: 14.5rem;
  left: calc(75% - 6.75rem);
  width: 2.25rem;
  height: 10rem;
  transform: rotate(200deg);
  z-index: 1;
}

.menina_parda-costas-perna-direita {
  top: 20.75rem;
  left: calc(75% - 2.5rem);
  width: 2.875rem;
  height: 11.625rem;
  transform: rotate(174deg);
  z-index: 2;
}

.menina_parda-costas-perna-esquerda {
  top: 20.75rem;
  left: calc(75% - 5rem);
  width: 2.875rem;
  height: 11.625rem;
  transform: rotate(184deg);
  z-index: 2;
}

/*Responsividade */

@media (max-width: 768px) {
  .dores-container {
    flex-direction: column;
  }
  
  .conteudo-esquerda, .conteudo-direita {
    width: 100%;
  }
  
  .mensagemselecao {
    font-size: 1.5rem;
  }
  
.imagem-costas {
    height: 250px;
}

.imagem-costas {
    height: 250px;
  }
}

.botao-corpo {
  background: none;
  border: none;
  opacity: 0;
  position: absolute;
  cursor: pointer;
}

.container-botao {
  position: absolute;
  inset: 0;
}

.corpo-frente {
  position: absolute;
  left: 38%;
}

.costas-barriga {
  top: 132px;
  left: calc(75% - 30px);
  width: 60px;
  height: 91px;
}

/* Responsividade Mobile */
@media (min-width: 251px) and (max-width: 767px) {

.dores-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  border-radius: 24px;
  overflow: hidden;
}

.conteudo-esquerda, .conteudo-direita {
  width: 100%;
  padding: 0px;
  border-radius: 32px;
  box-shadow: none;
}

.mensagemselecao {
  font-size: 1rem;
  font-weight: bold;
  color: #333;
  line-height: 1.2;
  text-align: center;
  margin-top: 0;
  padding-top: 0rem;
  order: -1;
}

.imagens-corpo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 100%;
  position: relative;
  margin-top: 1rem;
}

.imagem-frente, .imagem-costas {
  height: 200px;
  object-fit: contain;
}

.botao-corpo {
  background: none;
  border: none;
  opacity: 0;
  position: absolute;
  cursor: pointer;
}

.container-botao {
  position: absolute;
  inset: 0;
}

.corpo-frente {
  position: relative;
  margin-bottom: 2rem;
}

.corpo-costas {
  position: relative;
  margin-top: 1rem;
}

/* Corpos */

/* Meninos */

/* Menino Branco */

/* Frente */

.menino_branco-frente-cabeca {
  top: 1.1rem;
  left: 1%;
  width: 5.75rem;
  height: 4.5rem;
  z-index: 999;
}

.menino_branco-frente-barriga {
  top: 5.125rem;
  left: 7%;
  width: 2.25rem;
  height: 3.75rem;
  z-index: 5;
}

.menino_branco-frente-braco-direito {
  top: 5.75rem;
  left: 3%;
  width: 1.5rem;
  height: 4.5rem;
  transform: rotate(7deg);
  z-index: 1;
}

.menino_branco-frente-braco-esquerdo {
  top: 5.75rem;
  left: 16%;
  width: 1.5rem;
  height: 4.5rem;
  transform: rotate(172deg);
  z-index: 1;
}

.menino_branco-frente-perna-direita {
  top: 8.5rem;
  left: 5%;
  width: 1.75rem;
  height: 5.5rem;
  transform: rotate(7deg);
  z-index: 2;
}

.menino_branco-frente-perna-esquerda {
  top: 8.5rem;
  left: 12.5%;
  width: 1.5rem;
  height: 5.5rem;
  transform: rotate(173deg);
  z-index: 2;
}

/* Costas */

.menino_branco-costas-cabeca {
  top: 13.5rem;
  left: 50%;
  transform: translateX(-50%);
  width: 4.5rem;
  height: 4.5rem;
}

.menino_branco-costas-costas {
  top: 17.75rem;
  left: 50%;
  transform: translateX(-50%);
  width: 2.25rem;
  height: 3.5rem;
  z-index: 5;
}

.menino_branco-costas-braco-direito {
  top: 18.375rem;
  left: 57%;
  transform: translateX(-50%) rotate(168deg);
  width: 1rem;
  height: 4.5rem;
  z-index: 1;
}

.menino_branco-costas-braco-esquerdo {
  top: 18.375rem;
  left: 42%;
  transform: translateX(-50%) rotate(190deg);
  width: 1.5rem;
  height: 4.5rem;
  z-index: 1;
}

.menino_branco-costas-perna-direita {
  top: 21rem;
  left: 53%;
  transform: translateX(-50%) rotate(172deg);
  width: 1.75rem;
  height: 5.5rem;
  z-index: 2;
}

.menino_branco-costas-perna-esquerda {
  top: 21rem;
  left: 46%;
  transform: translateX(-50%) rotate(7deg);
  width: 1.75rem;
  height: 5.5rem;
  z-index: 2;
}

/* Menino Negro */

/* Frente */

.menino_negro-frente-cabeca {
  top: 1.1rem;
  left: 1%;
  width: 5.75rem;
  height: 4.5rem;
  z-index: 999;
}

.menino_negro-frente-barriga {
  top: 5.125rem;
  left: 7%;
  width: 2.25rem;
  height: 3.75rem;
  z-index: 5;
}

.menino_negro-frente-braco-direito {
  top: 6rem;
  left: 1%;
  width: 1.5rem;
  height: 4.5rem;
  transform: rotate(7deg);
  z-index: 1;
}

.menino_negro-frente-braco-esquerdo {
  top: 5.75rem;
  left: 16%;
  width: 1.5rem;
  height: 4.5rem;
  transform: rotate(172deg);
  z-index: 1;
}

.menino_negro-frente-perna-direita {
  top: 8.5rem;
  left: 5%;
  width: 1.75rem;
  height: 5.5rem;
  transform: rotate(7deg);
  z-index: 2;
}

.menino_negro-frente-perna-esquerda {
  top: 8.5rem;
  left: 12.5%;
  width: 1.5rem;
  height: 5.5rem;
  transform: rotate(173deg);
  z-index: 2;
}

/* Costas */

.menino_negro-costas-cabeca {
  top: 13.5rem;
  left: 50%;
  transform: translateX(-50%);
  width: 4.5rem;
  height: 4.5rem;
  z-index: 999;
}

.menino_negro-costas-costas {
  top: 17.75rem;
  left: 50%;
  transform: translateX(-50%);
  width: 2.25rem;
  height: 3.5rem;
  z-index: 5;
}

.menino_negro-costas-braco-direito {
  top: 18.375rem;
  left: 57%;
  transform: translateX(-50%) rotate(168deg);
  width: 1rem;
  height: 4.5rem;
  z-index: 1;
}

.menino_negro-costas-braco-esquerdo {
  top: 18.375rem;
  left: 42%;
  transform: translateX(-50%) rotate(190deg);
  width: 1.5rem;
  height: 4.5rem;
  z-index: 1;
}

.menino_negro-costas-perna-direita {
  top: 21rem;
  left: 53%;
  transform: translateX(-50%) rotate(172deg);
  width: 1.75rem;
  height: 5.5rem;
  z-index: 2;
}

.menino_negro-costas-perna-esquerda {
  top: 21rem;
  left: 46%;
  transform: translateX(-50%) rotate(7deg);
  width: 1.75rem;
  height: 5.5rem;
  z-index: 2;
}

/* Menino Asiático */

/* Frente */ 

.menino_asiatico-frente-cabeca {
  top: 1.25rem;
  left: 1%;
  width: 5.75rem;
  height: 4.5rem;
  z-index: 999;
}

.menino_asiatico-frente-barriga {
  top: 5.125rem;
  left: 7%;
  width: 2.25rem;
  height: 4rem;
  z-index: 5;
}

.menino_asiatico-frente-braco-direito {
  top: 6rem;
  left: 1%;
  width: 1.5rem;
  height: 4.5rem;
  transform: rotate(7deg);
  z-index: 1;
}

.menino_asiatico-frente-braco-esquerdo {
  top: 5.75rem;
  left: 16%;
  width: 1.5rem;
  height: 4.5rem;
  transform: rotate(172deg);
  z-index: 1;
}

.menino_asiatico-frente-perna-direita {
  top: 8.5rem;
  left: 5%;
  width: 1.75rem;
  height: 5.5rem;
  transform: rotate(7deg);
  z-index: 2;
}

.menino_asiatico-frente-perna-esquerda {
  top: 8.5rem;
  left: 12.5%;
  width: 1.5rem;
  height: 5.5rem;
  transform: rotate(173deg);
  z-index: 2;
}

/* Costas */

.menino_asiatico-costas-cabeca {
  top: 13.75rem;
  left: 50%;
  transform: translateX(-50%);
  width: 4.5rem;
  height: 4.5rem;
  z-index: 999;
}

.menino_asiatico-costas-costas {
  top: 17.75rem;
  left: 50%;
  transform: translateX(-50%);
  width: 2.25rem;
  height: 3.5rem;
  z-index: 5;
}

.menino_asiatico-costas-braco-direito {
  top: 18.375rem;
  left: 57%;
  transform: translateX(-50%) rotate(168deg);
  width: 1.5rem;
  height: 4.5rem;
  z-index: 1;
}

.menino_asiatico-costas-braco-esquerdo {
  top: 18.375rem;
  left: 42%;
  transform: translateX(-50%) rotate(190deg);
  width: 1.5rem;
  height: 4.5rem;
  z-index: 1;
}

.menino_asiatico-costas-perna-direita {
  top: 21rem;
  left: 53%;
  transform: translateX(-50%) rotate(172deg);
  width: 1.75rem;
  height: 5.5rem;
  z-index: 2;
}

.menino_asiatico-costas-perna-esquerda {
  top: 21rem;
  left: 46%;
  transform: translateX(-50%) rotate(7deg);
  width: 1.75rem;
  height: 5.5rem;
  z-index: 2;
}

/* Menino Pardo */

/* Frente */

.menino_pardo-frente-cabeca {
  top: 1.5rem;
  left: 1%;
  width: 5.75rem;
  height: 4.5rem;
  z-index: 999;
}

.menino_pardo-frente-barriga {
  top: 5.125rem;
  left: 7%;
  width: 2.25rem;
  height: 3.75rem;
  z-index: 5;
}

.menino_pardo-frente-braco-direito {
  top: 6rem;
  left: 1%;
  width: 1.5rem;
  height: 4.5rem;
  transform: rotate(7deg);
  z-index: 1;
}

.menino_pardo-frente-braco-esquerdo {
  top: 5.75rem;
  left: 16%;
  width: 1.5rem;
  height: 4.5rem;
  transform: rotate(172deg);
  z-index: 1;
}

.menino_pardo-frente-perna-direita {
  top: 8.5rem;
  left: 5%;
  width: 1.75rem;
  height: 5.5rem;
  transform: rotate(7deg);
  z-index: 2;
}

.menino_pardo-frente-perna-esquerda {
  top: 8.5rem;
  left: 12.5%;
  width: 1.5rem;
  height: 5.5rem;
  transform: rotate(173deg);
  z-index: 2;
}

/* Costas */

.menino_pardo-costas-cabeca {
  top: 14rem;
  left: 50%;
  transform: translateX(-50%);
  width: 4.5rem;
  height: 4.5rem;
  z-index: 999;
}

.menino_pardo-costas-costas {
  top: 17.75rem;
  left: 50%;
  transform: translateX(-50%);
  width: 2.25rem;
  height: 3.5rem;
  z-index: 5;
}

.menino_pardo-costas-braco-direito {
  top: 18.375rem;
  left: 57%;
  transform: translateX(-50%) rotate(168deg);
  width: 1rem;
  height: 4.5rem;
  z-index: 1;
}

.menino_pardo-costas-braco-esquerdo {
  top: 18.375rem;
  left: 42%;
  transform: translateX(-50%) rotate(190deg);
  width: 1.5rem;
  height: 4.5rem;
  z-index: 1;
}

.menino_pardo-costas-perna-direita {
  top: 21rem;
  left: 53%;
  transform: translateX(-50%) rotate(172deg);
  width: 1.75rem;
  height: 5.5rem;
  z-index: 2;
}

.menino_pardo-costas-perna-esquerda {
  top: 21rem;
  left: 46%;
  transform: translateX(-50%) rotate(7deg);
  width: 1.75rem;
  height: 5.5rem;
  z-index: 2;
}

/* Meninas */
/* Menina Branca */
.menina_branca-frente-cabeca {
  top: 1.1rem;
  left: 1%;
  width: 5.75rem;
  height: 4.5rem;
  z-index: 999;
}

.menina_branca-frente-barriga {
  top: 5.125rem;
  left: 7%;
  width: 2.25rem;
  height: 3.75rem;
  z-index: 5;
}

.menina_branca-frente-braco-direito {
  top: 5.75rem;
  left: 1%;
  width: 1.5rem;
  height: 4.5rem;
  transform: rotate(7deg);
  z-index: 1;
}

.menina_branca-frente-braco-esquerdo {
  top: 5.75rem;
  left: 16%;
  width: 1.5rem;
  height: 4.5rem;
  transform: rotate(172deg);
  z-index: 1;
}

.menina_branca-frente-perna-direita {
  top: 8.5rem;
  left: 5%;
  width: 1.75rem;
  height: 5.5rem;
  transform: rotate(7deg);
  z-index: 2;
}

.menina_branca-frente-perna-esquerda {
  top: 8.5rem;
  left: 12.5%;
  width: 1.5rem;
  height: 5.5rem;
  transform: rotate(173deg);
  z-index: 2;
}

/* Costas */

.menina_branca-costas-cabeca {
  top: 13.5rem;
  left: 50%;
  transform: translateX(-50%);
  width: 4.5rem;
  height: 4.5rem;
}

.menina_branca-costas-costas {
  top: 17.75rem;
  left: 50%;
  transform: translateX(-50%);
  width: 2.25rem;
  height: 3.5rem;
  z-index: 5;
}

.menina_branca-costas-braco-direito {
  top: 18.375rem;
  left: 58%;
  transform: translateX(-50%) rotate(168deg);
  width: 1.5rem;
  height: 4.5rem;
  z-index: 1;
}

.menina_branca-costas-braco-esquerdo {
  top: 18.375rem;
  left: 42%;
  transform: translateX(-50%) rotate(190deg);
  width: 1.5rem;
  height: 4.5rem;
  z-index: 1;
}

.menina_branca-costas-perna-direita {
  top: 21rem;
  left: 53%;
  transform: translateX(-50%) rotate(172deg);
  width: 1.75rem;
  height: 5.5rem;
  z-index: 2;
}

.menina_branca-costas-perna-esquerda {
  top: 21rem;
  left: 46%;
  transform: translateX(-50%) rotate(7deg);
  width: 1.75rem;
  height: 5.5rem;
  z-index: 2;
}

/* Menina Negra */

/* Frente */

.menina_negra-frente-cabeca {
  top: 1.1rem;
  left: 1%;
  width: 5.75rem;
  height: 4.5rem;
  z-index: 999;
}

.menina_negra-frente-barriga {
  top: 5.125rem;
  left: 7%;
  width: 2.25rem;
  height: 3.75rem;
  z-index: 5;
}

.menina_negra-frente-braco-direito {
  top: 6rem;
  left: 1%;
  width: 1.5rem;
  height: 4.5rem;
  transform: rotate(7deg);
  z-index: 1;
}

.menina_negra-frente-braco-esquerdo {
  top: 5.75rem;
  left: 16%;
  width: 1rem;
  height: 4.5rem;
  transform: rotate(166deg);
  z-index: 1;
}

.menina_negra-frente-perna-direita {
  top: 8.5rem;
  left: 6%;
  width: 1.5rem;
  height: 5.5rem;
  transform: rotate(7deg);
  z-index: 2;
}

.menina_negra-frente-perna-esquerda {
  top: 8.5rem;
  left: 12.5%;
  width: 1.5rem;
  height: 5.5rem;
  transform: rotate(173deg);
  z-index: 2;
}

/* Costas */

.menina_negra-costas-cabeca {
  top: 14rem;
  left: 50%;
  transform: translateX(-50%);
  width: 4.5rem;
  height: 4.5rem;
  z-index: 999;
}

.menina_negra-costas-costas {
  top: 17.75rem;
  left: 50%;
  transform: translateX(-50%);
  width: 2.25rem;
  height: 3.5rem;
  z-index: 5;
}

.menina_negra-costas-braco-direito {
  top: 18.375rem;
  left: 56%;
  transform: translateX(-50%) rotate(164deg);
  width: 1rem;
  height: 4.5rem;
  z-index: 1;
}

.menina_negra-costas-braco-esquerdo {
  top: 18.375rem;
  left: 42%;
  transform: translateX(-50%) rotate(190deg);
  width: 1.5rem;
  height: 4.5rem;
  z-index: 1;
}

.menina_negra-costas-perna-direita {
  top: 21rem;
  left: 53%;
  transform: translateX(-50%) rotate(172deg);
  width: 1.75rem;
  height: 5.5rem;
  z-index: 2;
}

.menina_negra-costas-perna-esquerda {
  top: 21rem;
  left: 46%;
  transform: translateX(-50%) rotate(7deg);
  width: 1.25rem;
  height: 5.5rem;
  z-index: 2;
}

/* Menina Asiática */

/* Frente */ 

.menina_asiatica-frente-cabeca {
  top: 1.25rem;
  left: 1%;
  width: 5.75rem;
  height: 4.5rem;
  z-index: 999;
}

.menina_asiatica-frente-barriga {
  top: 5.125rem;
  left: 7%;
  width: 2.25rem;
  height: 4rem;
  z-index: 5;
}

.menina_asiatica-frente-braco-direito {
  top: 6rem;
  left: 1%;
  width: 1.5rem;
  height: 4.5rem;
  transform: rotate(7deg);
  z-index: 1;
}

.menina_asiatica-frente-braco-esquerdo {
  top: 5.75rem;
  left: 16%;
  width: 1.5rem;
  height: 4.5rem;
  transform: rotate(172deg);
  z-index: 1;
}

.menina_asiatica-frente-perna-direita {
  top: 8.5rem;
  left: 5%;
  width: 1.75rem;
  height: 5.5rem;
  transform: rotate(7deg);
  z-index: 2;
}

.menina_asiatica-frente-perna-esquerda {
  top: 8.5rem;
  left: 12.5%;
  width: 1.5rem;
  height: 5.5rem;
  transform: rotate(173deg);
  z-index: 2;
}

/* Costas */

.menina_asiatica-costas-cabeca {
  top: 13.75rem;
  left: 50%;
  transform: translateX(-50%);
  width: 4.5rem;
  height: 4.5rem;
  z-index: 999;
}

.menina_asiatica-costas-costas {
  top: 17.75rem;
  left: 50%;
  transform: translateX(-50%);
  width: 2.25rem;
  height: 3.5rem;
  z-index: 5;
}

.menina_asiatica-costas-braco-direito {
  top: 18.375rem;
  left: 57%;
  transform: translateX(-50%) rotate(168deg);
  width: 1rem;
  height: 4.5rem;
  z-index: 1;
}

.menina_asiatica-costas-braco-esquerdo {
  top: 18.375rem;
  left: 42%;
  transform: translateX(-50%) rotate(190deg);
  width: 1.5rem;
  height: 4.5rem;
  z-index: 1;
}

.menina_asiatica-costas-perna-direita {
  top: 21rem;
  left: 53%;
  transform: translateX(-50%) rotate(172deg);
  width: 1.75rem;
  height: 5.5rem;
  z-index: 2;
}

.menina_asiatica-costas-perna-esquerda {
  top: 21rem;
  left: 48%;
  transform: translateX(-50%) rotate(1deg);
  width: 1.25rem;
  height: 5.5rem;
  z-index: 2;
}

/* Menina Parda */

/* Frente */

.menina_parda-frente-cabeca {
  top: 1.5rem;
  left: 1%;
  width: 5.75rem;
  height: 4.5rem;
  z-index: 999;
}

.menina_parda-frente-barriga {
  top: 5.125rem;
  left: 7%;
  width: 2.25rem;
  height: 3.75rem;
  z-index: 5;
}

.menina_parda-frente-braco-direito {
  top: 6rem;
  left: 1%;
  width: 1.5rem;
  height: 4.5rem;
  transform: rotate(7deg);
  z-index: 1;
}

.menina_parda-frente-braco-esquerdo {
  top: 5.85rem;
  left: 16%;
  width: 1rem;
  height: 4.5rem;
  transform: rotate(164deg);
  z-index: 1;
}

.menina_parda-frente-perna-direita {
  top: 8.5rem;
  left: 7%;
  width: 1.25rem;
  height: 5.5rem;
  transform: rotate(7deg);
  z-index: 2;
}

.menina_parda-frente-perna-esquerda {
  top: 8.5rem;
  left: 12%;
  width: 1.5rem;
  height: 5.5rem;
  transform: rotate(173deg);
  z-index: 2;
}

/* Costas */

.menina_parda-costas-cabeca {
  top: 14rem;
  left: 50%;
  transform: translateX(-50%);
  width: 5rem;
  height: 5rem;
  z-index: 999;
}

.menina_parda-costas-costas {
  top: 18.5rem;
  left: 50%;
  transform: translateX(-50%);
  width: 2.25rem;
  height: 3.5rem;
  z-index: 5;
}

.menina_parda-costas-braco-direito {
  top: 18.375rem;
  left: 57%;
  transform: translateX(-50%) rotate(168deg);
  width: 1rem;
  height: 4.5rem;
  z-index: 1;
}

.menina_parda-costas-braco-esquerdo {
  top: 18.375rem;
  left: 43%;
  transform: translateX(-50%) rotate(190deg);
  width: 1.5rem;
  height: 4.5rem;
  z-index: 1;
}

.menina_parda-costas-perna-direita {
  top: 21rem;
  left: 53%;
  transform: translateX(-50%) rotate(172deg);
  width: 1.75rem;
  height: 5.5rem;
  z-index: 2;
}

.menina_parda-costas-perna-esquerda {
  top: 21rem;
  left: 48%;
  transform: translateX(-50%) rotate(7deg);
  width: 1.5rem;
  height: 5.5rem;
  z-index: 2;
  }
}