/* container de sintomas */
.dores-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  border-radius: 24px;
  overflow: hidden;
}

.conteudo-esquerda {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 30%;
  padding: 2rem;
}

.conteudo-direita {
  position: relative;
  width: 70%;
  background-color: #fff;
  border-radius: 24px;
  padding: 1rem;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1); 
}

.mensagemselecao {
  font-size: 2.5rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 2rem;
  line-height: 1.2;
  text-align: left;
  margin-top: 2rem;
}

/* imagens */
.imagens-corpo {
  display: flex;
  justify-content: center;
  gap: 2rem;
  width: 100%;
  position: relative;
}

.imagem-frente, .imagem-costas {
  height: 500px;
  object-fit: contain;
}

/* Corpos */


/* Meninos */ 

/* Menino Branco */

/* Frente */
.menino_branco-frente-cabeca {
  top: 19px;
  left: calc(25% - 100px);
  width: 160px;
  height: 160px;
}

.menino_branco-frente-barriga {
  top: 178px;
  left: calc(25% - 63px);
  width: 84px;
  height: 136px;
  z-index: 999;
}

.menino_branco-frente-braco-esquerdo {
  top: 198px;
  left: calc(25% + 23px);
  width: 28px;
  height: 176px;
  transform: rotate(172deg);
}

.menino_branco-frente-braco-direito {
  top: 198px;
  left: calc(25% - 97px);
  width: 30px;
  height: 176px;
  transform: rotate(7deg);
}

.menino_branco-frente-perna-direita {
  top: 310px;
  left: calc(25% - 81px);
  width: 52px;
  height: 210px;
  transform: rotate(7deg);
}

.menino_branco-frente-perna-esquerda {
  top: 310px;
  left: calc(25% + -12px);
  width: 52px;
  height: 210px;
  transform: rotate(173deg);
}

/* Costas */

.menino_branco-costas-cabeca {
  top: 19px;
  left: calc(75% + -10rem);
  width: 160px;
  height: 160px;
}

.menino_branco-costas-costas {
  top: 178px;
  left: calc(75% + -7.5rem);
  width: 84px;
  height: 136px;
}

.menino_branco-costas-braco-direito {
  top: 194px;
  left: calc(75% + -1.875rem);
  width: 28px;
  height: 176px;
  transform: rotate(168deg);
}

.menino_branco-costas-braco-esquerdo {
  top: 196px;
  left: calc(75% + -9.5rem);
  width: 28px;
  height: 176px;
  transform: rotate(190deg);
}

.menino_branco-costas-perna-direita {
  top: 310px;
  left: calc(75% + -4.375rem);
  width: 52px;
  height: 210px;
  transform: rotate(172deg);
}

.menino_branco-costas-perna-esquerda {
  top: 310px;
  left: calc(75% + -8.5rem);
  width: 53px;
  height: 210px;
  transform: rotate(7deg);
}


/* Corpo menino negro */
/* Frente */
.menino_negro-frente-cabeca {
  top: 30px;
  left: calc(25% - 110px);
  width: 160px;
  height: 170px;
}

.menino_negro-frente-barriga {
  top: 200px;
  left: calc(25% - 79px);
  width: 94px;
  height: 152px;
  z-index: 999;
}

.menino_negro-frente-braco-direito {
  top: 226px;
  width: 32px;
  height: 155px;
  left: -117px;
  transform: rotate(14deg);
}

.menino_negro-frente-braco-esquerdo {
  top: 226px;
  width: 32px;
  height: 156px;
  left: 20px;
  transform: rotate(164deg);
}

.menino_negro-frente-perna-direita {
  top: 348px;
  width: 60px;
  height: 168px;
  left: -98px;
  transform: rotate(188deg);
}

.menino_negro-frente-perna-esquerda {
  top: 348px;
  width: 59px;
  height: 168px;
  left: -26px;
  transform: rotate(174deg);
}

/* Costas */

.menino_negro-costas-cabeca {
  top: 30px;
  left: calc(75% - 8.5rem);
  width: 160px;
  height: 170px;
}

.menino_negro-costas-costas {
  top: 200px;
  left: calc(75% - 6.125rem);
  width: 82px;
  height: 122px;
}

.menino_negro-costas-braco-direito {
  top: 214px;
  left: calc(75% - 0.625rem);
  width: 34px;
  height: 170px;
  transform: rotate(163deg);
}

.menino_negro-costas-braco-esquerdo {
  top: 214px;
  left: calc(75% - 8.625rem);
  width: 34px;
  height: 170px;
  transform: rotate(18deg);
}

.menino_negro-costas-perna-direita {
  top: 318px;
  left: calc(75% - 3.25rem);
  width: 56px;
  height: 196px;
  transform: rotate(174deg);
}

.menino_negro-costas-perna-esquerda {
  top: 318px;
  left: calc(75% - 7.125rem);
  width: 56px;
  height: 196px;
  transform: rotate(7deg);
}

/* Menino Asiático */
/* Frente */

.menino_asiatico-frente-cabeca {
  top: 32px;
  left: calc(25% - 128px);
  width: 160px;
  height: 168px;
}

.menino_asiatico-frente-barriga {
  top: 200px;
  left: calc(25% - 92px);
  width: 90px;
  height: 128px;
  z-index: 999;
}

.menino_asiatico-frente-braco-direito {
  top: 212px;
  left: calc(25% - 138px);
  width: 38px;
  height: 165px;
  transform: rotate(20deg);
}

.menino_asiatico-frente-braco-esquerdo {
  top: 212px;
  left: calc(25% - -6px);
  width: 38px;
  height: 165px;
  transform: rotate(159deg);
}

.menino_asiatico-frente-perna-direita {
  top: 325px;
  left: calc(25% - 110px);
  width: 60px;
  height: 190px;
  transform: rotate(185deg);
}

.menino_asiatico-frente-perna-esquerda {
  top: 325px;
  left: calc(25% - 46px);
  width: 60px;
  height: 190px;
  transform: rotate(176deg);
}

/* Costas */

.menino_asiatico-costas-cabeca {
  top: 32px;
  left: calc(75% - 8.5rem);
  width: 160px;
  height: 168px;
}

.menino_asiatico-costas-costas {
  top: 200px;
  left: calc(75% - 6.125rem);
  width: 90px;
  height: 128px;
}

.menino_asiatico-costas-braco-direito {
  top: 212px;
  left: calc(75% - -0.125rem);
  width: 38px;
  height: 165px;
  transform: rotate(159deg);
}

.menino_asiatico-costas-braco-esquerdo {
  top: 212px;
  left: calc(75% - 9rem);
  width: 38px;
  height: 165px;
  transform: rotate(20deg);
}

.menino_asiatico-costas-perna-direita {
  top: 325px;
  left: calc(75% - 3rem);
  width: 60px;
  height: 190px;
  transform: rotate(176deg);
}

.menino_asiatico-costas-perna-esquerda {
  top: 325px;
  left: calc(75% - 7rem);
  width: 60px;
  height: 190px;
  transform: rotate(185deg);
}

/* Menino Pardo */
/* Frente */

.menino_pardo-frente-cabeca {
  top: 32px;
  left: calc(25% - 110px);
  width: 160px;
  height: 168px;
}

.menino_pardo-frente-barriga {
  top: 200px;
  left: calc(25% - 79px);
  width: 96px;
  height: 138px;
  z-index: 999;
}

.menino_pardo-frente-braco-direito {
  top: 226px;
  width: 34px;
  height: 155px;
  left: -117px;
  transform: rotate(10deg);
}

.menino_pardo-frente-braco-esquerdo {
  top: 221px;
  left: calc(25% - -26px);
  width: 33px;
  height: 165px;
  transform: rotate(166deg);
}

.menino_pardo-frente-perna-direita {
  top: 334px;
  width: 56px;
  height: 182px;
  left: -91px;
  transform: rotate(188deg);
}

.menino_pardo-frente-perna-esquerda {
  top: 334px;
  width: 56px;
  height: 182px;
  left: -20px;
  transform: rotate(169deg);
}

/* Costas */

.menino_pardo-costas-cabeca {
  top: 32px;
  left: calc(75% - 8.5rem);
  width: 160px;
  height: 168px;
}

.menino_pardo-costas-costas {
  top: 200px;
  left: calc(75% - 6.125rem);
  width: 90px;
  height: 128px;
}

.menino_pardo-costas-braco-direito {
  top: 212px;
  left: calc(75% - 0.25rem);
  width: 32px;
  height: 165px;
  transform: rotate(347deg);
}

.menino_pardo-costas-braco-esquerdo {
  top: 218px;
  left: calc(75% - 8.3rem);
  width: 32px;
  height: 154px;
  transform: rotate(13deg);
}

.menino_pardo-costas-perna-direita {
  top: 324px;
  left: calc(75% - 3rem);
  width: 56px;
  height: 191px;
  transform: rotate(173deg);
}

.menino_pardo-costas-perna-esquerda {
  top: 325px;
  left: calc(75% - 7rem);
  width: 56px;
  height: 190px;
  transform: rotate(188deg);
}

/* Meninas */

/* Menina Branca */

/* Frente */

.menina_branca-frente-cabeca {
  top: 19px;
  left: calc(25% - 116px);
  width: 160px;
  height: 160px;
}

.menina_branca-frente-barriga {
  top: 178px;
  left: calc(25% - 80px);
  width: 80px;
  height: 152px;
  z-index: 999;
}

.menina_branca-frente-braco-direito {
  top: 195px;
  width: 34px;
  height: 160px;
  left: -124px;
  transform: rotate(24deg);
}

.menina_branca-frente-braco-esquerdo {
  top: 194px;
  width: 34px;
  height: 160px;
  left: 10px;
  transform: rotate(156deg);
}

.menina_branca-frente-perna-direita {
  top: 292px;
  left: calc(25% - 104px);
  width: 54px;
  height: 223px;
  transform: rotate(8deg);
}

.menina_branca-frente-perna-esquerda {
  top: 292px;
  left: calc(25% - 31px);
  width: 52px;
  height: 223px;
  transform: rotate(172deg);
}

/* Costas */

.menina_branca-costas-cabeca {
  top: 19px;
  left: calc(75% - 8.5rem);
  width: 160px;
  height: 160px;
}

.menina_branca-costas-costas {
  top: 178px;
  left: calc(75% - 5.75rem);
  width: 80px;
  height: 152px;
  z-index: 999;
}

.menina_branca-costas-braco-direito {
  top: 192px;
  left: calc(75% - 0.25rem);
  width: 34px;
  height: 159px;
  transform: rotate(156deg);
}

.menina_branca-costas-braco-esquerdo {
  top: 194px;
  left: calc(75% - 8.25rem);
  width: 34px;
  height: 160px;
  transform: rotate(24deg);
}

.menina_branca-costas-perna-direita {
  top: 290px;
  left: calc(75% - 2.75rem);
  width: 54px;
  height: 223px;
  transform: rotate(174deg);
}

.menina_branca-costas-perna-esquerda {
  top: 292px;
  left: calc(75% - 7rem);
  width: 54px;
  height: 223px;
  transform: rotate(8deg);
}

/* Menina Negra */

/* Frente */

.menina_negra-frente-cabeca {
  top: 40px;
  left: calc(25% - 122px);
  width: 160px;
  height: 160px;
  z-index: 999;
}

.menina_negra-frente-barriga {
  top: 178px;
  left: calc(25% - 80px);
  width: 80px;
  height: 152px;
  z-index: 998;
}

.menina_negra-frente-braco-direito {
  top: 207px;
  width: 34px;
  height: 160px;
  left: -102px;
  transform: rotate(17deg);
}

.menina_negra-frente-braco-esquerdo {
  top: 208px;
  width: 34px;
  height: 160px;
  left: -6px;
  transform: rotate(162deg);
}

.menina_negra-frente-perna-direita {
  top: 292px;
  left: calc(25% - 86px);
  width: 52px;
  height: 223px;
  transform: rotate(8deg);
}

.menina_negra-frente-perna-esquerda {
  top: 292px;
  left: calc(25% - 37px);
  width: 52px;
  height: 223px;
  transform: rotate(172deg);
}

/* Costas */

.menina_negra-costas-cabeca {
  top: 40px;
  left: calc(75% - 8.5rem);
  width: 160px;
  height: 160px;
  z-index: 999;
}

.menina_negra-costas-costas {
  top: 178px;
  left: calc(75% - 6.25rem);
  width: 80px;
  height: 152px;
  z-index: 998;
}

.menina_negra-costas-braco-direito {
  top: 208px;
  left: calc(75% - 1.5rem);
  width: 34px;
  height: 159px;
  transform: rotate(166deg);
}

.menina_negra-costas-braco-esquerdo {
  top: 208px;
  left: calc(75% - 8rem);
  width: 34px;
  height: 160px;
  transform: rotate(14deg);
}

.menina_negra-costas-perna-direita {
  top: 292px;
  left: calc(75% - 3.75rem);
  width: 52px;
  height: 223px;
  transform: rotate(175deg);
}

.menina_negra-costas-perna-esquerda {
  top: 292px;
  left: calc(75% - 7rem);
  width: 52px;
  height: 223px;
  transform: rotate(8deg);
}

/* Menina Asiática */ 

.menina_asiatica-frente-cabeca {
  top: 20px;
  left: calc(25% - 124px);
  width: 186px;
  height: 186px;
  z-index: 999;
}

.menina_asiatica-frente-barriga {
  top: 178px;
  left: calc(25% - 82px);
  width: 100px;
  height: 152px;
  z-index: 998;
}

.menina_asiatica-frente-braco-direito {
  top: 229px;
  width: 34px;
  height: 143px;
  left: -110px;
  transform: rotate(22deg);
}

.menina_asiatica-frente-braco-esquerdo {
  top: 229px;
  width: 34px;
  height: 143px;
  left: 8px;
  transform: rotate(164deg);
}

.menina_asiatica-frente-perna-direita {
  top: 327px;
  width: 52px;
  height: 184px;
  left: -88px;
  transform: rotate(184deg);
}

.menina_asiatica-frente-perna-esquerda {
  top: 327px;
  width: 52px;
  height: 184px;
  left: -24px;
  transform: rotate(174deg);
}

/* Costas */

.menina_asiatica-costas-cabeca {
  top: 20px;
  left: calc(75% - 8.25rem);
  width: 186px;
  height: 186px;
  z-index: 999;
}

.menina_asiatica-costas-costas {
  top: 189px;
  left: calc(75% - 5rem);
  width: 88px;
  height: 166px;
  z-index: 998;
}

.menina_asiatica-costas-braco-direito {
  top: 229px;
  left: calc(75% - 0.125rem);
  width: 34px;
  height: 143px;
  transform: rotate(162deg);
}

.menina_asiatica-costas-braco-esquerdo {
  top: 229px;
  left: calc(75% - 7rem);
  width: 34px;
  height: 143px;
  transform: rotate(22deg);
}

.menina_asiatica-costas-perna-direita {
  top: 332px;
  left: calc(75% - 2.5rem);
  width: 52px;
  height: 184px;
  transform: rotate(178deg);
}

.menina_asiatica-costas-perna-esquerda {
  top: 332px;
  left: calc(75% - 5.5rem);
  width: 52px;
  height: 184px;
  transform: rotate(185deg);
}

/* Menina Parda */

/* Frente */

.menina_parda-frente-cabeca {
  top: 40px;
  left: calc(25% - 122px);
  width: 170px;
  height: 160px;
  z-index: 999;
}

.menina_parda-frente-barriga {
  top: 196px;
  left: calc(25% - 70px);
  width: 78px;
  height: 135px;
  z-index: 998;
}

.menina_parda-frente-braco-direito {
  top: 222px;
  width: 36px;
  height: 160px;
  left: -102px;
  transform: rotate(20deg);
}

.menina_parda-frente-braco-esquerdo {
  top: 228px;
  width: 36px;
  height: 160px;
  left: 0px;
  transform: rotate(162deg);
}

.menina_parda-frente-perna-direita {
  top: 324px;
  width: 46px;
  height: 186px;
  left: -82px;
  transform: rotate(8deg);
}

.menina_parda-frente-perna-esquerda {
  top: 322px;
  width: 46px;
  height: 186px;
  left: -34px;
  transform: rotate(176deg);
}

/* Costas */

.menina_parda-costas-cabeca {
  top: 40px;
  left: calc(75% - 8rem);
  width: 170px;
  height: 160px;
  z-index: 999;
}

.menina_parda-costas-costas {
  top: 200px;
  left: calc(75% - 5rem);
  width: 78px;
  height: 135px;
  z-index: 998;
}

.menina_parda-costas-braco-direito {
  top: 231px;
  left: calc(75% - 0rem);
  width: 36px;
  height: 160px;
  transform: rotate(162deg);
}

.menina_parda-costas-braco-esquerdo {
  top: 228px;
  left: calc(75% - 6.75rem);
  width: 36px;
  height: 160px;
  transform: rotate(200deg);
}

.menina_parda-costas-perna-direita {
  top: 332px;
  left: calc(75% - 2.5rem);
  width: 46px;
  height: 186px;
  transform: rotate(174deg);
}

.menina_parda-costas-perna-esquerda {
  top: 332px;
  left: calc(75% - 5rem);
  width: 46px;
  height: 186px;
  transform: rotate(184deg);
}

/*Responsividade */
@media (max-width: 768px) {
  .dores-container {
    flex-direction: column;
  }
  
  .conteudo-esquerda, .conteudo-direita {
    width: 100%;
  }
  
  .mensagemselecao {
    font-size: 1.5rem;
  }
  
  .imagem-frente, .imagem-costas {
    height: 250px;
  }
}

.botao-corpo {
  background: none;
  border: none;
  opacity: 0;
  position: absolute;
  cursor: pointer;
}

.container-botao {
  position: absolute;
  inset: 0;
}

.corpo-frente {
  position: absolute;
  left: 38%;
}

.costas-barriga {
  top: 132px;
  left: calc(75% - 30px);
  width: 60px;
  height: 91px;
}

@media (min-width: 251px) and (max-width: 767px) {
  .menino_branco-frente-cabeca {
    top: 1.1rem;
    left: calc(25% - 100px);
    width: 160px;
    height: 160px;
  }
  
  .menino_branco-frente-barriga {
    top: 178px;
    left: calc(25% - 63px);
    width: 84px;
    height: 136px;
    z-index: 999;
  }
  
  .menino_branco-frente-braco-esquerdo {
    top: 198px;
    left: calc(25% + 23px);
    width: 28px;
    height: 176px;
    transform: rotate(172deg);
  }
  
  .menino_branco-frente-braco-direito {
    top: 198px;
    left: calc(25% - 97px);
    width: 30px;
    height: 176px;
    transform: rotate(7deg);
  }
  
  .menino_branco-frente-perna-direita {
    top: 310px;
    left: calc(25% - 81px);
    width: 52px;
    height: 210px;
    transform: rotate(7deg);
  }
  
  .menino_branco-frente-perna-esquerda {
    top: 310px;
    left: calc(25% + -12px);
    width: 52px;
    height: 210px;
    transform: rotate(173deg);
  }
  
  /* Costas */
  
  .menino_branco-costas-cabeca {
    top: 19px;
    left: calc(25% - 58px);
    width: 160px;
    height: 160px;
  }
  
  .menino_branco-costas-costas {
    top: 178px;
    left: calc(75% - 16px);
    width: 84px;
    height: 136px;
  }
  
  .menino_branco-costas-braco-direito {
    top: 194px;
    left: calc(75% + 76px);
    width: 28px;
    height: 176px;
    transform: rotate(168deg);
  }
  
  .menino_branco-costas-braco-esquerdo {
    top: 196px;
    left: calc(75% + -48px);
    width: 28px;
    height: 176px;
    transform: rotate(190deg);
  }
  
  .menino_branco-costas-perna-direita {
    top: 310px;
    left: calc(75% + 36px);
    width: 52px;
    height: 210px;
    transform: rotate(172deg);
  }
  
  .menino_branco-costas-perna-esquerda {
    top: 310px;
    left: calc(75% - 32px);
    width: 53px;
    height: 210px;
    transform: rotate(7deg);
  }
}
